
.Home-Parent{
    /* border: 1px solid blue; */
    height: 80vh;
    margin-top: 2%;
    background: url("../../Assets/Home\ Banner.png");
    position: relative;
    padding: 0%;
    text-align: center;
}
h1{
    font-family:"Roboto" ;
    font-weight: 700;
    color:#002C59;
   
}
p{
    color : "#4D4D4D"; 
    font-size: 13px;
    font-family:"Manrope";
   
}
button {
    border: none;
    text-decoration: none;
    height: 5vh;
    width: 10vw;
    background-color:#0C91D0;
    color: white
  
}
.banner-text{
    font-family: "inter";
    font-weight: 800;
    font-size: 35px;

}